<html>
    <head>
        <title>Todo List</title>
        <!-- link up jQuery because I will use jQuery later on when I start using Ajax requests -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script> -->
        <script type="text/javascript" src="/assets/todo-list.js"></script> 
       
        <!-- whenever I type url like this and make a request,it will fire the middleware
            ,it is going to look the file in the public folder -->
        <link rel="stylesheet" href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form action="">
                <input type="text" name="item" placeholder="Add new item..." required/>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i=0;i<todos.length;i++){ %>
                    <li><%=todos[i].item%></li>
                <%}%>
            </ul>
        </div>
    </body>
</html>